@use '../util' as *;

.container {
	padding: 0 rem(32) rem(140);

  &-mw-sm {
    max-width: rem(690);
    margin: 0 auto;

    &-ptop {
      padding-top: rem(123);
    }
  }

  &-mw-md {
    max-width: rem(900);
    margin: 0 auto;
  }

  &-mw-lg {
    max-width: rem(1110);
    margin: 0 auto;
  }
}

.flex {
  display: flex;
  flex-flow: column wrap;

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
  &-ac-c {
    align-content: center;
  }
   
}